.container{
    border-radius: 15px;
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
   
}

.container img{
    margin: auto;
    max-width: 400px;
    max-height: 200px;
}

