<main>
    <div class="container-title">
        <app-title text="Escolha o nível em que deseja jogar:"></app-title>
    </div>
    <div class="container-card">
        <app-card 
        color="aliceblue"
        value="300px" 
        image="../../../assets/img/Piano1.png"></app-card>
    </div> 
    <div class="container-buttons">
        <app-btn flagHome="true" text="Nível 1" nivel="1"> </app-btn>
        <app-btn flagHome="true" text="Nível 2" nivel="2"> </app-btn>
    </div>
        

</main>

