main{
    background-image: url('../../../assets/img/background-main.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container-points{
    padding-bottom: 10%;
}

app-keyboard{
    border: 1px solid red;
}