.container{
    width: 90%;
    margin:  auto  ;
    
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border-radius: 15px;
    background-color: #BBE2EC;
    color: #4D6D72;
    font-weight: bold;

    max-width: 500px;
    margin-bottom: 10px;
}