

<div class="keyboard">
    
    <ul class="teclas" id="lista-teclas" >
        <li class="tecla" [ngStyle]="{'height':height}"> <input type="button"></li>
        <li class="tecla" [ngStyle]="{'height':height}"> <input type="button"></li>
        <li class="tecla" [ngStyle]="{'height':height}"> <input type="button"></li>
        <li class="tecla" [ngStyle]="{'height':height}"> <input type="button"></li>
        <li class="tecla" [ngStyle]="{'height':height}"> <input type="button"></li>
        <li class="tecla" [ngStyle]="{'height':height}"> <input type="button"></li>
        <li class="tecla" [ngStyle]="{'height':height}"> <input type="button"></li>
    </ul>
    
</div>