.keyboard{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    max-width: 400px;
    margin: auto
}


.teclas{
    display: flex;
    background-image: url('../../../assets/img/keyboard.png'
    );
    width: 100%;
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}

.tecla{
    width: 13.9%;
    font-size: 25px;
    list-style: none;
    border-radius: 15px;
}

.tecla input{
    box-shadow: none;
    background: none;
    border: none;
}

.tecla:hover{
    box-shadow: 0.1em 0.1em 0.5em #333;
    background: #8fbdd393;
}

.tecla:active{
    position: relative;
    top: 1px;
}