.keyboard{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 10px;
    max-width: 400px;
    margin: auto;
    height: 100%;
    z-index:1;
}


.teclas{
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    background-image: url('../../../assets/img/keyboard.png');
    width: 100%;
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}

.tecla{
    width: 14.7%;
    font-size: 25px;
    list-style: none;
    border-radius: 15px;
}

.tecla input{
    box-shadow: none;
    background: none;
    border: none;
}

.tecla:hover{
    box-shadow: 0.1em 0.1em 0.5em #333;
    background: #8fbdd393;
}

.tecla:active{
    position: relative;
    top: 1px;
}